// fonts
$default-fonts: Arial, sans-serif
// =sans
// 	font-family: 'Open Sans', $default-fonts
// 	font-weight: 400

// colors
// $black: #000

/* ==========================================================================
   Main Styles
   ========================================================================== */
a:hover, a:focus
	text-decoration: none
a
	color: inherit
	text-decoration: none
svg
	width: 100%
	height: 100%
.is-hidden
	display: none
.row
	+pie-clearfix
// *
// 	+selection
// 		color: #fff
// 		background-color: $red
body
	min-width: 320px
	font-size: 16px
	color: #333
	line-height: 1.42857
.wrapper
	overflow: hidden
	margin: 0 auto
	min-height: 100%
	padding-bottom: 40px
.wrap
	+container
	transition: all 0.3s
/* ==========================================================================
   Header
   ========================================================================== */
.header
/* ==========================================================================
   Footer
   ========================================================================== */
.footer
	margin-top: -40px
	height: 40px
/* ==========================================================================
   Main
   ========================================================================== */

/* ==========================================================================
   Other Styles
   ========================================================================== */

