//- block footToggle
//- 	-var footToggle = ''
//- -var footMenu = ['Menu 1', 'Menu 2', 'Menu 3', 'Menu 4']
//- footer.footer
//- 	.wrap
//- 		span.copyright &copy; Template
//- 		nav
//- 			.foot-nav
//- 				ul
//- 					each value in footMenu
//- 						if footToggle === value
//- 							li.is-active
//- 								a(href='#')= value
//- 						else
//- 							li
//- 								a(href='#')= value
